@import 'vendor/reset';
@import 'variables';
@import 'common';

body {
  background-color: $gray-97;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;

  .header {
    width: 90%;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: $white;
    box-shadow: $material-shadow-1;

    &__text {
      margin: 0 2rem;
      text-align: center;
    }
  }

  .content {
    width: 90%;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: $white;
    box-shadow: $material-shadow-1;

    &__inner {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: 0 2rem;

      @import 'game-field';
      @import 'legend';
    }
  }

  .footer {
    width: 100%;
    padding: 1rem 0;
    background-color: $white;
    box-shadow: $material-shadow-1;

    &__copyright {
      margin: 0 2rem;
      text-align: right;
    }
  }
}
